.about{
    padding: 6rem 0;
    position: relative;

    .about-text{
        padding: 2rem;
        width: 50%;
        p{font-size: 1.6rem;}
    }

    .skills{
        text-align: center;
        background-color: $main-color;
        padding: 3rem 2rem;
        margin-top: -5rem;
        border-radius: 20px;

        h3{
            font-size: 2.5rem;
            text-align: left;
            margin-bottom: 2rem;
        }

        p{
            font-size: 1.5rem;
            text-transform: capitalize;
            font-family: $nunito_Xbold;
        }
    }
}


@include responsive_tab(){
    .about-text{width: 100%!important; margin-bottom: 3rem;}

    .skills{
        width: 80%!important;
        margin-top: 0!important;
        text-align: left!important;
    }
}

@include responsive_max(361px){
    .about-text{padding: 0!important;}
    .skills{width: 100%!important;}
}

@include responsive_max(320px){
    .about-text p{font-size: 1.4rem!important;}
    .skills p{font-size: 1.3rem!important;}
}