@font-face {
    font-family: 'Josefin';
    src: url(../fonts/JosefinSans-Bold.ttf)
  }

@font-face {
    font-family: 'Nunito_Xbold';
    src: url(../fonts/Nunito-ExtraBold.ttf)
}

@font-face {
  font-family: 'Nunito_Regular';
  src: url(../fonts/Nunito-Regular.ttf)
}