body,
html{overflow-x: hidden; width: 100vw;}


h1,
h2,
h3{
    font-family: $heading-font;
    color: inherit;
    line-height: 1;
}


section,main,header{
    overflow-x: hidden!important;
    width: 100vw;
}

.container-fluid{
    max-width: 1600px;
}

.main-text{color: $main-color;}

li{list-style-type: none;}

a{text-decoration: none;}

.btn {
    font-family: $nunito_Xbold;
}

ul{padding: 0;
margin: 0;}

.main-btn{
    color: $white;
    background-color: $main-color;
    border-radius: 8px;
    padding: .5rem 1.6rem;
    font-size: 1.3rem;
}